<configuration>
    <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="ICustomerLib.ICustomer, ICustomerLib"
                mapTo="CustomerLibrary.Visitor, CustomerLibrary" name="Visitor" />
      <register type="ICustomerLib.ICustomer, ICustomerLib"
                mapTo="CustomerLibrary.Customer, CustomerLibrary" name="Customer" />
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0" />
  </startup>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=localhost;Initial Catalog=PetShopDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>  
  
</configuration>